.account-box {
    width: 250px;
    background-color: white;
    margin-left: 5px;
    text-align: left;
    border: 1px solid black;
    position: fixed;
    padding-left: 10px;
    border-radius: 5px;
}

.account-box h6 {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}

.account-box h5 {
    font-size: 15px;
}

.account-h5 {
    height: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.emoji-button {
    background-color: white;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: -2px;
}

.log-out-button {
    margin-left: 94.275px;
    background-color: white;
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 61.45px;
}

.editing {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-bottom: 10px;
}

.editing form {
    margin-top: 27px;
}

.editing h5 {
    margin-top: 28px;
    margin-right: 5px;
}

.editing input[type=text] {
    width: 20px;
}

.change-page-button{
    background:rgb(255, 225, 255);
    color: black;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

.login-box button[type=submit] {
    margin-top: 10px;
    background:rgb(255, 225, 255);
    color: black;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* .login-box {
    margin-bottom: 5px;
} */