.header-box {
    background-color: #f1f1f1;
    /* overflow: auto; Enable scrolling if the sidenav has too much content */
    border: 1px solid #555;
    height: 100%;
    width: 145px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 0px 50px 75px 0px;
  }
  
  .header-button {
    display: block;
    color: #000;
    padding: 8px 16px;
    /* text-align: center;*/
    /* border-bottom: 1px solid #555;  */
  }
  
  .header-box a {
    text-decoration: none;
  }
  
  .header-button:last-child {
    border-bottom: none;
  }
  
  
  /* Change the link color on hover */
  .header-button:hover {
    background-color: #555;
    color: white;
  }
  
  .header-button .active {
    background-color: #000;
    color: white;
  }
  
  .header-button:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .three-lines {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  .header {
    margin: 0px 5px 0px 152px;
    background:#CF9FFF;
    /* height: 25px;  */
    /* margin-left: 150px; */
    border-radius: 15px 15px;
    /* padding: 1px; */

  }

  .header-banner-font {
    /* padding: 1px; */
    color: #7851a9;
    font-size: 25px;
    
  }

  .calculator {
    font-size: 50px;
    color: black;
  }