.header-box {
    background-color: #f1f1f1;
    /* overflow: auto; Enable scrolling if the sidenav has too much content */
    border: 1px solid #555;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 21%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .header-button {
    display: block;
    color: #000;
    padding: 8px 16px;
    /* text-align: center;*/
    /* border-bottom: 1px solid #555;  */
  }
  
  .header-box a {
    text-decoration: none;
  }
  
  .header-button:last-child {
    border-bottom: none;
  }
  
  
  /* Change the link color on hover */
  .header-button:hover {
    background-color: pink;
    color: purple;
  }
  
  .header-button .active {
    background-color: #000;
    color: white;
  }
  
  .header-button:hover:not(.active) {
    background-color: rgb(98, 98, 248);
    color: white;
  }
  
  /* .three-lines {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  } */
  
  .header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 10px 5px 0px 21.65%;
    background:rgb(175, 100, 235);
    border-radius: 15px;
    height: 75px;
  }

  @media screen and (min-width: 850px) {
    .header {
      margin-left: 180px;
    }
  }
  @media screen and (min-width: 850px) {
    .header-box {
      width: 175px;
    }
  }

  .header-banner-font {
    color: rgb(255, 225, 255);
    font-size: 35px;
    font-family: serif, 'Times New Roman', Times;
    text-shadow:  1px 1px black;
    /* height: 50px;
    line-height: 50x; */
  }


/* 
  .calculator {
    margin-bottom: 100px;
    font-size: 100%;
    color: rgb(255, 225, 255);
  } */