
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 20px; 
    margin-top: 10px;
}

.single-charity {
    color: blue;
    width: 225px;
    height: 167px;
    border: 5px solid #555;
    border-radius: 10px;
  }

  .charity-name {
    margin-top: 15px;
    margin-bottom: 40px;
    height: 25px;
    font-size: 140%;
  }

  .single-charity a {
    color: coral;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
  }

 .charity-button-like {
    color: red;
    width: auto;
    margin: auto;
    font-size: 20px;
    background-color: rgb(200, 225, 250);
    /* border: 1px solid #555; */
    border-radius: 25px;
    }

.charity-button-unlike {
    color: purple;
    width: 100px;
    margin: auto;
    background-color: rgb(235, 235, 250);
    border: 1px solid #555;
    text-shadow:  1px 1px white;
    border-radius: 10px;
    }

 .text-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
 }

 .charity-header {
    /* height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(175, 100, 235);
    margin: -25px 5px 0px -7px;
    border-radius: 15px; */
    margin: 10px 10px 0px 10px;
    background-color: rgb(120, 120, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 20px; 
    padding-bottom: 10px;
    border: 5px solid rgb(100, 100, 255);
    border-radius: 10px;
 }

.charity-header-buttons {
    /* height: 25px;
    margin-top: 20px;
    color: black;
    /* text-shadow: 1px 1px black; */
    /* font-family: cursive; */
    /* font-size: 20px; */
    /* background-color: rgb(255, 225, 255); */
    /* border: 1px solid #555; */
    /* border-radius: 5px; */
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    /* text-shadow:  1px 1px black; */
    background-color: rgb(215, 215, 255);
    border-radius: 5px;
    border: 2px solid black;
    /* rgb(140, 140, 255); */
    color: black;
    margin-top: 10px;
    height: 40px;

}